/* Expanded */
.sidebar.active {
  width: 220px;
}

/* Nav link */
.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: #6b7280 !important;
  text-decoration: none;
  gap: 12px;
}

/* Icon */
.nav-icon {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  opacity: .7;
}

/* TEXT DEFAULT (hidden) */
.menu-title {
  white-space: nowrap;
  transition: opacity 0.2s ease;
}

/* ✅ WHEN SIDEBAR OPEN → NORMAL FLOW */
.sidebar.active .menu-title {
  opacity: 1;
  position: static;
}

/* ❌ REMOVE tooltip in active state */
.sidebar.active .nav-item .menu-title {
  background: none;
  padding: 0;
}

/* ✅ TOOLTIP MODE (only when collapsed) */
.sidebar:not(.active) .nav-item {
  position: relative;
}
.nav-section-label {
  display: none;
  padding: 10px 16px;
  font-size: 12px;
  color: #94a3b8;
  text-transform: uppercase;
  transition: all 0.2s ease;
  margin-left: 15px;
}
.sidebar:not(.active) .menu-title {
    position: absolute;
    left: 60px;
    top: 35%;
    border-radius: 4px;
}
.sidebar:not(.active) .nav-item.hover-open .menu-title {
  opacity: 1;
}
.nav-link:hover {
  background: #1e293b;
  color: #fff;
}
.nav-item.active .nav-link {
  background: #2563eb;
  color: #fff;
}
.sidebar.active .nav-section-label {
  display: block;
}